<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/Category.css">
  
</head>
<body>
    <div id="Categorymain">

        <div id="Categoryworkoutcard">
            <% data.forEach(element => { %>
                <div class="workoutcard" id= <%=element._id %> >
            
                    <ul>                  
                        <li>  <label>Workout :</label> <p> <%= element.workoutName %></p></li>
                        <li>  <label>Sets :</label> <p><%=element.sets %></p> </li>
                        <li>  <label>Reps :</label> <p> <%=element.reps %></p> </li>
                        <li>  <label>Steps :</label> <p><%=element.howtoperform %></p> </li>
                        <li>  <label>Uses :</label> <p> <%=element.descriptionanduse %> <p></li>
                    </ul>
               
                </div>
            <%}) %>
        </div>

    </div>
</body>
</html>